# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.log

# --------------------
# Virtual Environments
# --------------------
.venv/
venv/
env/

# --------------------
# Secrets & Config
# --------------------
.env
config/settings.yaml

# --------------------
# Runtime / State
# --------------------
last_status.txt
screensho
